__pycache__/
*.pyc
config.json
data/followers.json
.vscode
*.swp
data/raid.txt
bits.json
debug.log
SECRET.txt
.cache
.mypy_cache

public/audio/*
public/images/*
public/media/*
!public/*/.gitkeep
db/*

build/*
dist/*
venv
chatlogs
trained_model
aitextgen.tokenizer.json
chatbot