__pycache__/
*.pyc
config.json
.vscode
*.swp
debug.log
debug.log.*
SECRET.txt
.cache
.mypy_cache

public/audio/*
public/images/*
public/media/*
!public/*/.gitkeep
db/*

build/*
dist/*
venv
chatlogs
trained_model
aitextgen.tokenizer.json
chatbot
aitextgen/*

commands/*
!commands/__init__.py
!commands/_template.py
!commands/_common.py
!commands/_framework.py
chat_corpii.txt
gameinfo.txt
