__pycache__/
*.pyc
config.json
data/followers.json
.vscode/launch.json
*.swp
data/raid.txt
bits.json
ashnasbot.db
twitchdata.db
debug.log
SECRET.txt
.cache

public/audio/*
public/images/*
public/media/*
!public/*/.gitkeep
twitchdata.db-shm
twitchdata.db-wal

build/*
dist/*
venv
chatlogs
trained_model
aitextgen.tokenizer.json
chatbot