aiohttp==3.8.5
cryptography
bleach==4.1.0
dataset==1.5.2
requests==2.26.0
git+git://github.com/ashnasbot/twitch-observer@master#egg
websockets==10.1
websocket-client
requests-oauthlib==1.3.0
aiohttp-session==2.9.0
