#main {
	width: 1920px;
	height: 1080px;
	background-image: url("mana/bg.jpg");
}

.frame {
	border: 0.1em solid #cecece;
	position: relative;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0;
}


#face {
	float: left;
	margin: 16px;
	width: 654px;
}

#face-inner {
	padding-top: calc(9/16 *100%);
}

#chat {
	float: left;
	top: 8px;
	height: 652px;
	left: 16px;
	bottom: 32px;
	width: 654px;
}

#game {
	float:right;
	bottom: 32px;
	top: 16px;
	right: 32px;
	width: calc( (8/7) * (1080px - 32px) ); /* Horrible hack, yay! */
	margin-left: auto;
}

#game .snes {
	padding-top: calc(7/8 *100%);
}
