@import url("fonts/webfont.css");
@charset "utf-8";

[v-cloak] { display: none; }

body {
  height: 100vh;
  overflow: hidden;
}

#app {
	height: 100%;
  font-size: 32px;
}

#app ol {
	padding:0;
	margin: 0.5em;
}

#app li {
	margin: 0;
}

div.popout, div.ff7-frame{
  border: solid 1px #424542;
  box-shadow: 1px 1px #e7dfe7,
              -1px -1px #e7dfe7,
              1px -1px #e7dfe7,
              -1px 1px #e7dfe7,
              0 -2px #9c9a9c,
              -2px 0 #7b757b,
              0 2px #424542;
  padding: 5px 10px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

div.ff7-msg {
  max-height: 600px;
}

div.popout, div.ff7-bg { 
  margin: 0.3em 2px;
  background: #04009d;
  background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
  background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );
}

div.ff7 *{
  color: #eff1ff;
  text-shadow: 2px 2px #212421,
               1px 1px #212021;
  font-family: Reactor7, Verdana, sans-serif;
  font-weight: normal;
  margin: 5px 0;
  word-break: break-word;
}

div.ff7 img {
    border: 0;
    display:inline-block;
    margin: 0 2px;
    height: 18px;
    box-shadow: none
}

div.ff7 img.emote {
  margin: -4px;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

div.ff7 q {
  quotes: "“" "”" "‘" "’";
}
div.ff7 q:before {
    content: open-quote;
}
div.ff7 q:after {
    content: close-quote;
}

div.ff7 q.action:before, div.ff7 q.action:after {
    content: "";
}

ol li {
list-style-type: none;
}

.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .3s ease;
  transform-origin: top;
  top: 0;
}
.slide-fade-leave {
  max-height: 800px;
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(100%);
}

.slide-fade-leave-to {
  max-height: 0;
  position: relative;
  top: -200px;
}

.slide-fade-move {
  transition: transform 0.3s ease;
}

.ff7 .badges span {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

span.cheertext-gray { color: #979797}
span.cheertext-purple { color: #9c3ee8}
span.cheertext-green { color: #1db2a5}
span.cheertext-blue { color: #0099fe}
span.cheertext-red { color: #f43021}


div.menu {
  height: max-content;
  transition: opacity .3s ease;
  transition-delay: 0.1s;
  opacity: 0;

  position: absolute;
  width: 99vw;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0.25ex 0.5ex;
}

div.menu:focus-within, div.menu:hover {
  opacity: 1 !important;
}

div.menu .popout {
  position: absolute;
  right: 0;
  top: 0;
}

.popout .form {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding: 1ex;
  box-sizing: border-box;
}

.popout::before {
  content: "☰";
  text-align: right;
  display: block;
  margin-right: 1em;
  box-sizing: border-box;
  width: min-content;
  right: 0;
  margin-left: auto;
  padding: 0 1ex;
}


.form label {
  display: block;
  text-align: right;
  padding-right: 1em;
}

input[type="checkbox"] {
    transform: scale(1.5);
    vertical-align: text-top;
    margin-left: 4px;
}