@import url(//db.onlinewebfonts.com/c/1d45bbb7c8c9652f2462f20b3b8e38d7?family=PostAntiqua);
@charset "utf-8";

[v-cloak] { display: none; }

#app {
  height: 100vh;
}

.frame {
  border-style: solid;
  border-image-source: url(border2.png);
  border-image-width: 32px;
  border-width: 5px;
  border-image-slice: 48;
  border-image-repeat: repeat;

  padding: 8px;
}

div.chat_window {
  padding-top: 0px;
  overflow: hidden;

  height: calc(100% - 16px);
  max-height: calc(100% - 16px);

  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.chat_window ol {
  max-height: 110%;
  padding: 0;
  margin: 0;
  padding-right: 1ex;
}

.chat_window li {
  display: block;
}

.chat_window div {
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  word-break: break-word;
  font-family: 'PostAntiqua', sans-serif;
}

.TWITCHCHATMESSAGE .message, .popout, .SUB .message, label {
  color: #AECACE;
}

.SUB .alert {
  color: #c60506;
}

.TWITCHCHATMESSAGE .message .emote{
  border: 0;
  display: inline;
  vertical-align: middle;
  height: 1em;
  margin: -0.13em;
}

.TWITCHCHATMESSAGE .nickname {
  color: #AECACE;
}

.nickname::after {
  content: ": ";
}

.chat_window span {
  display: inline;
}

body {
  background-color: #000;
  margin:0;
  height: 100vh;
  overflow: hidden;
}

.menu {
  position: absolute;
  background-color: #000;
}

div.menu:focus-within, div.menu:hover {
  opacity: 1 !important;
}

.menu .popout span {
  display: block;
}