<!DOCTYPE html>
<html>

<head>
    <title>Config</title>
</head>

<body>
    <form id="app" @submit.prevent="save_config">
    <div class="form-group">
        <div class="form-field">
            <label for="channel">Channel to Join</label>
            <input type="text" id="channel" class="form-control" v-model="config.channel">
        </div>
        <div class="form-field">
            <label for="client_id">Your Twitch API Client ID</label>
            <input type="text" id="channel" class="form-control" v-model="config.client_id">
        </div>
        <div class="form-field">
            <label for="username">Bot Username</label>
            <input type="text" id="username" class="form-control" v-model="config.username">
        </div>
        <div class="form-field">
            <label for="oauth">Bot OAuth Token</label>
            <input type="text" id="oauth" class="form-control" v-model="config.oauth">
        </div>
        <input type="submit">
        <hr>
        <button v-on:click="shutdown">Shutdown</button>
    </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                config: { }
            },
            mounted: function () {
                var self = this;
                $.ajax({
                    url: '/api/config',
                    method: 'GET',
                    success: function (data) {
                        self.config = data;
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            },
            methods: {
                save_config: function () {
                    var self = this;
                    $.ajax({
                        url: '/api/config',
                        method: 'POST',
                        dataType: "json",
                        data: JSON.stringify(self.config),
                        success: function (data) {
                            self.config = data.message;
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },
                shutdown: function () {
                    $.ajax({
                        url: '/api/shutdown',
                        method: 'POST',
                        success: function (data) {
                            window.alert("Ashnasbot Shutdown")
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            }
        })
    </script>
    <style>
    label {
        display: inline-block;
        width: 140px;
        text-align: right;
    }​
    </style>

</body>

</html>