.form-group {
	width: 600px;
	font-size: 16px;
	background: #495C70;
	padding: 30px 30px 15px 30px;
	border: 5px solid #53687E;
}
.form-group input[type=submit],
.form-group input[type=button],
.form-group button,
.form-group input[type=text],
.form-group input[type=email],
.form-group textarea,
.form-group label
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;

}
.form-group label {
	display:block;
	margin-bottom: 10px;
}
.form-group label > span{
	display: block;
	float: left;
	width: 210px;
}
.form-group input[type=text],
.form-group input[type=email] 
{
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 375px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
}
.form-group textarea{
	font-style: italic;
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 375px;
	overflow: hidden;
	resize:none;
	height:20px;
}

.form-group textarea:focus, 
.form-group input[type=text]:focus,
.form-group input[type=email]:focus,
.form-group input[type=email] :focus
{
	border-bottom: 1px dashed #D9FFA9;
}

.form-group input[type=submit],
.form-group input[type=button],
.form-group button {
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #A8BACE;
}
.form-group input[type=submit]:hover,
.form-group input[type=button]:hover,
.form-group button:hover {
background: #394D61;
}