@font-face {
  font-family: 'manaspace';
  src: url('manaspc.woff2') format('woff2'),
       url('manaspc.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

[v-cloak] { display: none; }

#app {
  height: 100vh;
  font-size: 16px;
}

a {
  color: #9146FF;
}

div.chat_window {
  padding-top: 0px;
  overflow: hidden;

  height: calc(100% - 16px);
  max-height: calc(100% - 16px);

  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.chat_window ol {
  max-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.chat_window li div {
  display: block;
  box-shadow:0 0 5px 2px #222;
  border-radius:6px;
  padding: 0.2em 0.3em;
  overflow: hidden;
  background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAICAYAAADeM14FAAAAJElEQVQYV2NkVvb/z8DAwPD37kZGEM1IhgBIHwjAtIINIk0AACWVFdnTbUoAAAAAAElFTkSuQmCC
  ) repeat;
  background-size: 8px;
}

.chat_window div {
  font-weight: normal;
  margin: 0;
}

.nickname::after {
  content: ":";
}

.chat_window span {
  display: inline;
}

body {
  background-color: rgba(0, 0, 0);
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.menu {
  position: absolute;
  background-color: #000;
  opacity: 0;
}

div.menu:focus-within, div.menu:hover {
  opacity: 1 !important;
}

.menu .popout span {
  display: block;
}

.chat_window li div {
  display: table;
  width: calc(100vw - 32px);
  border-spacing: 3px;
  box-shadow: 0 0 1px 2px rgba(0,0,0,.4), 0 0 0 6px #dadcd7, inset 2px 2px 2px rgba(0,0,0,.7);
  border-radius: 8px;
  margin: 15px auto;
}

.chat_window li *{
  color: #fff;
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
  
  font-family: manaspace;
  font-size: 32px;
  font-weight: normal;
  margin: 5px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

img.emote {
  display: inline-block;
  vertical-align: bottom;
  height: 1.12em;
  margin: -.1em;
}