[v-cloak] { display: none; }

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

a {
  color: #9146FF;
}

#app {
  height: 100vh;
  width: 100vw;
}

.menu {
  position: absolute;
  opacity: 0;
}

div.menu:focus-within, div.menu:hover {
  opacity: 1 !important;
}

div.chat_window {
  padding-top: 0px;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.chat_window ol {
  max-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.chat_window li div {
  display: block;
  overflow: hidden;
}

.chat_window span {
  display: inline;
}

.chat_window li > div {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
}

.chat_window li *{
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

img {
  vertical-align: middle;
  display: inline-block;
  image-rendering: auto;
}

img.emote {
  height: 1em;
  margin: -1ex 0;
}

.cheertext-gray { color: #979797}
.cheertext-purple { color: #9c3ee8}
.cheertext-green { color: #1db2a5}
.cheertext-blue { color: #0099fe}
.cheertext-red { color: #f43021}

.clip * {
  float: left;
  margin-right: 1ex;
}

.clip img {
  height: 3em;
  margin: 0 !important;
}

.clip span:first-of-type {
  clear: both;
  margin-right: 1ex;
}