[v-cloak] { display: none; }

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

a {
  color: #9146FF;
}

#app {
  height: 100vh;
  width: 100vw;
  image-rendering: pixelated;
}

#chat {
  overflow-y: scroll;
}

.menu {
  position: absolute;
  opacity: 0;
}

div.menu:focus-within, div.menu:hover {
  opacity: 1 !important;
}

div.chat_window {
  padding-top: 0px;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.chat_window ol {
  max-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.chat_window li div {
  display: block;
  overflow: hidden;
}

.chat_window span {
  display: inline;
}

.chat_window li > div {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
}

.chat_window li * {
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.chat_window li .badges {
  margin-right: 0.5ex;
}

img {
  vertical-align: middle;
  display: inline-block;
  image-rendering: auto;
}

img.emote {
  height: 1em;
  margin: -1ex 0;
}

.cheertext-gray { color: #979797}
.cheertext-purple { color: #9c3ee8}
.cheertext-green { color: #1db2a5}
.cheertext-blue { color: #0099fe}
.cheertext-red { color: #f43021}

span[class^="cheertext-"] {
  font-weight: 600;
}


.clip * {
  float: left;
  margin-right: 1ex;
}

.clip img {
  height: 3em;
  margin: 0 !important;
}

.clip span:first-of-type {
  clear: both;
  margin-right: 1ex;
}

canvas {
  pointer-events: none;
}


/* Menu */
.menu {
  height: max-content;
  transition: opacity .3s ease;
  transition-delay: 0.1s;
  opacity: 0;

  position: absolute;
  width: 99vw;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0.25ex 0.5ex;
}

.menu .popout {
  position: absolute;
  right: 1ex;
  top: 1ex;
}

div.menu:focus-within, div.menu:hover {
  opacity: 1 !important;
}

.popout::before {
  content: "☰";
  position: fixed;
  width: fit-content;
  right: 0;
  margin: 0;
  display: block;
  padding: 0 1em;
}

.menu input[type=checkbox] {
  transform: scale(1.5);
}

.form label {
  display: block;
  text-align: right;
}

.menu fieldset {
  width: fit-content;
  display: grid;
  grid-template-columns: 0.1fr 10fr;
  gap: 0 1ex;
}

/* Animation magic */

.slide-fade-move,
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.25s ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}
.slide-fade-leave-to {
  transform-origin: top;
}
.slide-fade-enter-from {
  transform-origin: bottom;
}

.slide-fade-leave-active {
  position: absolute;
}