@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@charset "utf-8";

[v-cloak] { display: none; }

body {
  margin:0;
  height: 100vh;
  overflow: hidden;
}

#app {
	height: 133.3vh;
  zoom: 75%;
}

#app ol {
	padding:0;
	margin: 0.5em;
}

#app li {
	margin: 0;
}

div.msg-frame{
  border: solid 1px #424542;
  padding: 5px 10px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

div.msg-msg {
  max-height: 900px;
  
  display: flex;
  flex-direction: row;
}

div.msg-bg { 
  margin: 0.3em 2px;
  background: #222;
}

div.msg *{
  color: #eff1ff;
  font-size: 32px;
  font-weight: normal;
  margin: 5px 0;
  word-break: break-word;
  font-family: 'Montserrat', sans-serif;
}

div.msg img {
    border: 0;
    display:inline-block;
    margin: 2px;
    box-shadow: none;
    vertical-align: middle;
}

div.msg img.emote {
  margin: -4px;
  height: min-content;
  width: min-content;
}

div.msg img.badge {
  margin: 0 2px;
  height: 36px;
}

div.msg img.logo {
  width: 88px;
  padding-right: 8px;

  margin-top:auto;
  margin-bottom:auto;
}

/* Hide avatars when empty */
img.logo:not([src]) {
    display: none;
}

div.msg .column {
  display: inline-block;
}

div.msg .img-frame {
  vertical-align: top;
  height: 100%;
}

.quoted {
  quotes: "“" "”" "‘" "’";
}
.quoted:empty {
  display: none;
}
.quoted:before {
    content: open-quote;
}
.quoted:after {
    content: close-quote;
}

ol li {
list-style-type: none;
}

.stripe {
  width: 0.5ex;
  background-color: #6441a4;
  height: 90%;
  margin-right: 0.5ex !important;
  vertical-align: middle;
  display: inline-block;
}

.faded {
  opacity: 0.6;
}

.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .3s ease;
  transform-origin: top;
  top: 0;
}
.slide-fade-leave {
  max-height: 800px;
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(100%);
}

.slide-fade-leave-to {
  max-height: 0;
  position: relative;
  top: -200px;
}

.slide-fade-move {
  transition: transform 0.3s ease;
}

span.cheertext-gray { color: #979797}
span.cheertext-purple { color: #9c3ee8}
span.cheertext-green { color: #1db2a5}
span.cheertext-blue { color: #0099fe}
span.cheertext-red { color: #f43021}

div.menu {
  zoom: 150%;
  height: 1.5em;
  background-color: #333;
  color: #DDD;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  transition: opacity .3s ease;
  transition-delay: 0.1s;
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  right:0;
  z-index: 10;
  padding: 0.25ex 0.5ex;
  box-sizing: border-box;
}

div.menu:focus-within, div.menu:hover {
  opacity: 1 !important;
}

div.menu .popout {
  position: absolute;
  right: 0;
  top: 0;
}

.popout .form {
  background-color: #444;
  color: #DDD;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding: 1ex;
  box-sizing: border-box;
}

.popout::before {
  content: "☰";
  background-color: #444;
  text-align: right;
  display: block;
  margin-right: 1em;
  box-sizing: border-box;
  width: min-content;
  right: 0;
  margin-left: auto;
  padding: 0 1ex;
}


.form label {
  display: block;
  text-align: right;
  padding-right: 1em;
}

.inner_frame {
  float: left;
  background-color: #444;
  padding: 0.3em;
}

.inner_frame img {
  float: left;
  padding: 0.3em;
}

.inner_frame span {
  float: right;
  clear: right;
  display: block;
}

.inner_frame .title {
  font-weight: bold;
}