@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@charset "utf-8";

[v-cloak] { display: none; }

body {
  margin:0;
  height: 100vh;
  overflow: hidden;
}

#app {
	height: 100vh;
  font-size: 24px;
  display: block;
}

div.chat_window {
  padding-top: 0px;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#app ol {
  padding:0;
  margin:0;
  width: 100%;
}

#app li {
	margin: 0;
}

div.msg-frame{
  border: solid 1px #424542;
  padding: 0.2em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

div.msg-msg {
  max-height: 24em;
  display: flex;
  flex-direction: row;
}

div.msg-bg { 
  margin: 0.3em 0.1em;
  background: #222;
}

div.msg *{
  color: #eff1ff;
  font-weight: normal;
  margin: 0;
  word-break: break-word;
  font-family: 'Montserrat', sans-serif;
}

div.msg img {
    border: 0;
    display:inline-block;
    margin: 0.1em;
    box-shadow: none;
    vertical-align: middle;
}

div.msg img.emote {
  display: inline-block;
  vertical-align: bottom;
  height: 1.3em;
  margin-top: -0.4ex;
  position: relative;
  top: 0.3ex;
}

div.msg img.badge {
  margin: 0 0.1em;
  height: 1em;
}

div.msg img.logo {
  width: calc(2.4em + 10px);
  padding-right: 0.2em;

  margin-top:auto;
  margin-bottom:auto;
  margin-left: auto;
}

/* Hide avatars when empty */
img.logo:not([src]) {
    display: none;
}

div.msg .column {
  display: inline-block;
}

div.msg .img-frame {
  vertical-align: top;
  height: 100%;
}

.quoted {
  quotes: "“" "”" "‘" "’";
}
.quoted:empty {
  display: none;
}
.quoted:before {
    content: open-quote;
}
.quoted:after {
    content: close-quote;
}

ol li {
list-style-type: none;
}

.stripe {
  width: 0.25ex;
  background-color: #6441a4;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  left: -0.1em;
}

.faded {
  opacity: 0.7;
}

.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .3s ease;
  transform-origin: top;
  top: 0;
}
.slide-fade-leave {
  max-height: 800px;
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(100%);
}

.slide-fade-leave-to {
  max-height: 0;
  position: relative;
  top: -10em;
}

.slide-fade-move {
  transition: transform 0.3s ease;
}

span.cheertext-gray { color: #979797}
span.cheertext-purple { color: #9c3ee8}
span.cheertext-green { color: #1db2a5}
span.cheertext-blue { color: #0099fe}
span.cheertext-red { color: #f43021}

div.menu {
  height: 1.5em;
  background-color: #333;
  color: #DDD;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  transition: opacity .3s ease;
  transition-delay: 0.1s;
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  right:0;
  z-index: 10;
  padding: 0.25ex 0.5ex;
  box-sizing: border-box;
}

div.menu:focus-within, div.menu:hover {
  opacity: 1 !important;
}

div.menu .popout {
  position: absolute;
  right: 0;
  top: 0;
}

.popout .form {
  background-color: #444;
  color: #DDD;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding: 1ex;
  box-sizing: border-box;
}

.popout::before {
  content: "☰";
  background-color: #444;
  text-align: right;
  display: block;
  margin-right: 1em;
  box-sizing: border-box;
  width: min-content;
  right: 0;
  margin-left: auto;
  padding: 0 1ex;
}


.form label {
  display: block;
  text-align: right;
  padding-right: 1em;
}

.inner_frame {
  float: left;
  background-color: #444;
  padding: 0.3em;
}

.inner_frame img {
  float: left;
  padding: 0.3em;
}

.inner_frame span {
  float: right;
  clear: right;
  display: block;
}

.inner_frame .title {
  font-weight: bold;
}